.services{
  width:100vw;

  .swiper{
    padding:10px;
  }

  .block-title{
    text-align:center;
    max-width:7.68rem;
  }

  &__card{
    height:auto;
    border: 1px solid rgba(216, 216, 216, 0.4);
    border-radius: 12px;
    padding: 0.3rem 0.4rem;
    box-shadow: 0 0.67rem 1.09rem 0 rgba(0, 0, 0, 0.05);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.25rem;
    transition: .5s;

    &-name{
      font-size: 0.24rem;
      font-weight: 700;
      display:flex;
      align-items: center;
      gap:0.2rem;
    }

    &-link{
      display:flex;
      align-items: center;
      gap:0.21rem;
      font-size: 0.18rem;
      font-weight: 500;
      color:#7F56D9;
    }

    &--active{
      background-color: #7F56D9;
      color:white;

      .grey-text,
      .services__card-link,
      svg{
        color:white;
      }
    }
  }

}